# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Kamran\Documents\eduction\Udemy\OpenAI\04-Auto-Blog-Post\KamranMostafavi.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
